
@font-face {
  font-display: swap; 
  font-family: 'ClashDisplay-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/ClashDisplay-Regular.woff2') format('woff2'),
  url('../assets/fonts/ClashDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap; 
  font-family: 'ClashDisplay-Medium';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/ClashDisplay-Medium.woff2') format('woff2'),
  url('../assets/fonts/ClashDisplay-Medium.ttf') format('truetype');
}

@font-face {
  font-display: swap; 
  font-family: 'Satoshi-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Satoshi-Regular.woff2') format('woff2'),
  url('../assets/fonts/Satoshi-Regular.ttf') format('truetype');
}