@import "~the-new-css-reset";
@import "../css/fonts.scss";
@import "../css/colors.scss";

@mixin hover {
  @media (any-hover: hover) {
    @content;
  }
}

@mixin width_903 {
  @media (width <= 56.4375rem) {
    @content;
  }
}

// @mixin width_1024 {
//   @media (width <= 64rem) {
//     @content;
//   }
// }

@mixin width_320 {
  @media (width <= 20rem) {
    @content;
  }
}

body {
  overflow-x: hidden;
  height: 100vh;
}

[class*='__container'] {
  max-width: 81.875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
  @include width_320 {
    max-width: 81.25rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}

.page_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'ClashDisplay-Regular' ,sans-serif;
}

.page {

  &__header {
  }
}
.header {

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__upperBlock {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "searchIcon logo mediaIcons";
    position: relative;
    min-height: 4.375rem;
    align-items: center;
    &::after {
      content: "";
      display: inline-flex;
      height: 1px;
      width: 100%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.10);
    }
  }

  &__searchIcon {
    cursor: pointer;
    margin-right: 0.9375rem;
    margin-left: 1.625rem;
    grid-area: searchIcon;
    justify-self: start;
  }

  &__logo {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    color: #22202E;
    grid-area: logo;
    justify-self: center;
  }

  &__icons {
    display: flex;
    margin-left: 0.9375rem;
    margin-right: 1.75rem;
    grid-area: mediaIcons;
    justify-self: end;
  }

  &__cartIcon {
    cursor: pointer;
    margin-right: 1rem;
  }

  &__userIcon {
    cursor: pointer;
  }

  &__burger {
    display: none;
    grid-area: burger;
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4.375rem;
  }
}
.navigation {

  &__items {
    flex: 0 1 42.1875rem;
    display: flex;
    justify-content: space-between;
  }

  &__item {
  }

  &__link {
    transition: color .4s;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: #726E8D;
    @include hover {
      &:hover {
        color: #000000;
      }
    }
  }
}

.page {

  &__baner {
    margin-top: 3.75rem;
    display: flex;
    background-color: $Primary;
    color: #fff;
    min-height: 36.5rem;
    @include width_903 {
      min-height: auto;
    }
  }
}
.banner {
  
  &__container {
  }

  &__information {
    padding: 3.75rem 6.125rem 3.75rem 3.75rem;
    @include width_903 {
      padding: 40px 24px 24px 24px;
      justify-content: center;
    }
  }

  &__images {
    display: flex;
    max-width: 32.5rem;
    @include width_903 {
      display: none;
    }
  }

}
.information {

  &__heading {
    grid-area: upperBlockText;
    height: 100%;
    max-width: 47.5rem;
    display: grid;
    grid-template-rows: 131px 50px auto;
    grid-template-areas: 
    "textHeader"
    "textLink"
    "downText";
    @include width_903 {
      max-width: none;
    }
  }

  &__header {
    font-family: 'ClashDisplay-Regular', sans-serif;
    font-size: 2rem;
    font-style: normal;
    grid-area: textHeader;
    line-height: 140%;
    @include width_903 {
      text-align: center;
    }
    
  }

  &__link {
    grid-area: textLink;
    background-color: rgba(249, 249, 249, 0.15);
    transition: background-color .4s;
    font-family: 'Satoshi-Regular', sans-serif;
    font-size: 1rem;
    font-style: normal;
    justify-self: start;
    align-self: start;
    padding: 1rem 2rem;
    @include width_903 {
      margin: 0 auto;
    }
    @include hover {
      &:hover {
        background-color: rgba(143, 142, 142, 0.369);
      }
    }
  }

  &__text {
    grid-area: downText;
    align-self: end;
    justify-self: start;
    font-family: 'Satoshi-Regular', sans-serif;
    font-size: 1.125rem;
    font-style: normal; 
    line-height: 150%;  
    @include width_903 {
      align-self: center;
      text-align: center;
      padding-top: 5rem;
    }
  }
}
.images {
  &__picture {
    object-fit: cover;
    object-position: center;
  }
}

.features {
  display: flex;
  flex-direction: column;
  margin-top: 3.75rem;
  align-items: center;
  color: $darkPrimary;
  &__heading {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14.6875rem, 16.875rem));
    justify-content: center;
    width: 100%;
    grid-column-gap: 3.625rem;
    grid-row-gap: 2.25rem;
    margin-top: 3.1875rem;
  }

  &__listItem {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
.listItem {

  &__icon {
    margin-bottom: 1rem;
  }

  &__header {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-style: normal;
    line-height: 140%; 
  }

  &__text {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}

.listings {
  margin-top: 10.375rem;
  color: $darkPrimary;

  &__header {
    margin-bottom: 2.0625rem;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
  }

  &__productsList {
    
  }

  &__linksBlock {
    margin-top: 2.1875rem;
    display: flex;
    justify-content: center;
  }
}
.productsList {
  display: grid;
  justify-content: center;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(10.1875rem, 19.0625rem));
  &__productItem {
  }
}
.productItem {

  &__image {
    object-fit: cover;
    margin-bottom: 1.5rem;
  }

  &__descriptionBlock {
  }
}
.descriptionBlock {

  &__header {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  &__price {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
  }
}
.linksBlock {

  &__link {
    padding: 1rem 2rem;
    background-color: #F9F9F9;
  }
}

.popularProducts {
  margin-top: 7.5rem;
  &__header {
  }

  &__productsList {
    justify-content: center;
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "sofa sofa chair chair2";
  }

  &__linksBlock {
  }
}

.productsList {

  &__item {
    grid-area: chair;
    &:nth-child(2) {
      grid-area: chair2;
    }
    &:first-child {
      grid-area: sofa;
    }
  }

}

.emailSign {
  background-color: #F9F9F9;
  margin-top: 3rem;
  padding-top: 3.25rem;
  padding-bottom: 4.0625rem;

  &__signInform {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding-top: 4.25rem;
    padding-bottom: 3.375rem;
  }
}
.signInform {

  &__header {
    font-size: 2.25rem;
    font-style: normal;
    margin-bottom: 1.125rem;
  }

  &__text {
    font-size: 1rem;
    font-style: normal;
    font-family: 'Satoshi-Regular', sans-serif;
    max-width: 29.375rem;
    line-height: 150%;
    text-align: center;
    margin-bottom: 4.5rem;
  }

  &__inputs {
    display: flex;
    min-height: 3.5rem;
    max-width: 32.5625rem;
    width: 100%;
  }

  &__inputLabel {
    width: 100%;
  }

  &__textInput {
    height: 100%;
    width: 100%;
    background-color: #F9F9F9;
    padding-left: 2rem;
    &::placeholder {
      opacity: 0.2;
    }
  }

  &__submitBtn {
    max-width: 118px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Satoshi-Regular', sans-serif;
    cursor: pointer;
    background-color: $darkPrimary;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
  }
}

.featuresContant {
  display: flex;
  flex-direction: row;
  max-height: 603px;
  &__featuresDesc {
    max-width: 50%;
    padding: 4.5rem 6.25rem 3.375rem 0;
    display: flex;
    flex-direction: column;
  }

  &__image {
    object-fit: cover;
    max-width: 50%;
  }
}
.featuresDesc {


  &__header {
    font-size: 1.5rem;
    font-style: normal; 
    line-height: 140%;
    margin-bottom: 1.5625rem;
  }

  &__text {
    font-family: 'Satoshi-Regular', sans-serif;
    font-size: 16px;
    font-style: normal;
  }

  &__links {
    margin-top: auto;
  }
}

.page_footer {
  padding-top: 3.625rem;
  background-color: $darkPrimary;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;

  &__container {
    width: 100%;
  }

  &__menuSection {

  }

  &__menuSections {
    flex-wrap: wrap;
    display: flex;
    min-width: 50%;
    justify-content: space-between;
    padding-right: 6.25rem;
  }

  &__mailForm {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 0.625rem;
  }

  &__copyright {
  }

  &__socialsList {
    display: flex;
    justify-content: space-between;
  }
}
.menuSection {

  &__upper {
    display: flex;
    margin-bottom: 3rem;
  }

  &__footerMenu {
    display: flex;
    flex-direction: column;
  }

  &__down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 4rem;
    &::before {
      content: "";
      display: inline-flex;
      height: 1px;
      width: 100%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 0;
      background-color: #4E4D93;
    }
  }
}
.footerMenu {

  &__header {
    margin-bottom: 0.75rem;
    font-size: 1rem;
    font-style: normal;
  }

  &__menuList {
  }
}
.menuList {

  &__item {
    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }

  &__link {
    font-family: 'Satoshi-Regular', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    transition: color .4s;
    @include hover {
      &:hover {
        color: #bfbfe2;
      }
    }
  }
}
.mailForm {

  &__header {
    font-size: 1rem;
    font-style: normal;
    margin-bottom: 1rem;
  }

  &__footerForm {
    width: 100%;
    display: flex;
  }
}
.footerForm {

  &__label {
    display: flex;
    flex: 1 1 auto;
  }


  &__inputField {
    flex: 1 1 auto;
    padding-left: 2rem;
    background-color: rgba($color: #FFFFFF26, $alpha: 0.15);
    &::placeholder {
      font-family: 'Satoshi-Regular', sans-serif;
      font-size: 1rem;
      font-style: normal;
    }
  }

  &__submitBtn {
    color: #2A254B;
    background-color: #FFFFFF;
    cursor: pointer;
  }
}
.linksBlock {

  &__link {
  }
}
.socialsList {

  &__item {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
  }
}








